.shape-1{
    background-color: #DDD;
    display: inline-block;
    
    outline: solid 5px black;
    border: solid 5px red;
    
    margin: 10px;
    padding: 10px;
}

.shape-2{
    background-color: #DDD;
    display: inline-block;
    
    outline: solid 5px black;
    border-color: blue green;
    border-style: solid;
    border-width:5px ;
    
    margin: 10px;
    padding: 10px;
}

.shape-3{
    background-color: #DDD;
    display: inline-block;
    
    outline: solid 5px black;
    border-color: red green blue yellow;
    border-style: dashed;
    border-width:5px ;
    
    margin: 10px;
    padding: 10px;
}

.element-element-1 {
    width: 400px;
    background-color: #DDD;
    padding: 20px;

    margin: 10px 0 10px 20px;
    border-left: 5px solid red;
}


.element-element-2{
    width: 400px;
    background-color: #DDD;
    padding: 20px;
    
    margin: 10px 0 10px 20px;
    border-left: 5px solid lightcoral;
    
    visibility: hidden;
}

.element-element-3{
    width: 400px;
    background-color: #DDD;
    padding: 20px;

    margin: 10px 0 10px 20px;
    border-left: 5px solid green;
}