*{
    font-family: Arial, Helvetica, sans-serif;
}


/* 
    pseudo classes

    hover 
    visited
    checked
    focus
    empty

    and more 'you can search!'
    */



a {
    margin-left: 5px;
    text-decoration: none;

    color: white;

    background-color: #55a5c0;
    padding: 3px;

    border-radius: 5px;

    font-size: 10px;
}


a:hover{
    background-color: chocolate;
    font-size: 15px;
}

a:visited{
    background-color: #00465e;
}


.name {
    border: 2px solid rgb(113, 113, 113);
    border-radius: 5px;
}


.name:focus{
    border-color:  greenyellow;
    outline: none;
}


.in-for-os:checked {
    display: none;
}



/* 
    Pseudo Elements 
        ::first-letter
            takes an action over the first letter on a paragraph
        
        ::first-line
            takes an action over the first line on a paragraph

        ::selection
            when it comes to select text 
            like when you trying to select a text from a page, the selection by default is blue 
            you can change this color into another color

            you can apply it over any selection in tha page
                ::selection{}

            or over a spicified element
                element::selection{}

    NOTE!!!!!
        in Pseudo Elements i have to declare with :: before the class
*/


.pseudo-elements .one span {
    background-color: red;
    color: white;

    font-size: 60px;
    font-weight: bold;
    
    display: inline-block;
}

.pseudo-elements .two::first-letter {
    background-color: red;
    color: white;

    font-size: 60px;
    font-weight: bold;
    
    display: inline-block;
}

.pseudo-elements .three::first-line {
    background-color: red;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.pseudo-elements .four::selection {
    background-color: lightcoral;
    color: black;
}

::selection{
       background-color: lightgreen;
    color: black; 
}


/* 
    Pseudo Elements 
        ::before
            adds an element before you element
            
        ::after
            adds an element after you element

        ::content : "";
            must be declared to make you pseudo element visible
*/

.parent{
    margin-bottom: 20px ;
    overflow: hidden;
}

.one-p {
    background-color: #EEE;
    float: left;
    padding: 20px;
    width: 600px;
    position: relative;
}

.user{
    float: left;
    margin-right: 20px;
    background-color: #EEE;
    width: 65px;
    height: 76.5px;
    text-align: center;
    padding: 10px;
    font-size: 50px
}

/* 
    before and after is an psuedo elements that i gave to the parent
        so, they must be absoulte.. the parent must be relative

    what if you wanna add a line after or after you element
    |element|
    this requires an empty span 
        this span w'll be absolute
*/

/* you can do this with this empty span that is called pipeline like that */


/* .one-p .pipeline {
position: absolute;
    background-color: #2697af;
    height: 100%;
    width: 10px;
    right: -20px;
    top: 0;
} */


/* 
    But i can make this with only ::afrer pseudo class.. even no need for span
*/

.one-p::after {
    content: "";
    position: absolute;
    background-color: #2697af;
    height: 100%;
    width: 10px;
    right: -20px;
    top: 0;
}



/* 
    what about make an arrow that points to a thing before the element?
*/

.one-p::before {
    content: "";
    
    width: 0;
    height: 0;
    background-color: white;
    position: absolute;
    left: -20px;

        /* 
        how to center an element vertically
        top: 50%
        margin-top: minus the height / 2 
    */
    top: 50%;
    margin-top: -10px;

    border-style: solid;
    border-width: 10px;
    border-color: transparent #2697af transparent transparent;

    /* 
        default of color is transparent
    */
}




/* 
    counter-increment

    What if i wanna add a counter before or after the element
    even i have a 500 element this counter will count it

    parent must take a property called 
        counter-increment: a-name-you-gave;

    then 

    on each element you need to show a counter using an ::after or ::before
        you type
        content: counter(name of your counter)

    you can style the element that holds your counter

    remember to make that child absolute
*/

.parent-counter{
    margin-bottom: 20px ;
    overflow: hidden;

    counter-increment: users-counter;
}

.one-p-counter {    
    background-color: #EEE;
    float: left;
    padding: 20px;
    width: 600px;
    position: relative;
}

.user-counter{
    float: left;
    margin-right: 20px;
    background-color: #EEE;
    width: 65px;
    height: 76.5px;
    text-align: center;
    padding: 10px;
    font-size: 50px
}
.one-p-counter::after{
content: counter(users-counter);
    background-color: #a0a0a0;
    color: white;
    text-align: center;
    padding: 10px;
    height: 20px;
    width: 20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    right: -50px;
    border-radius: 5px;
    font-weight: bold;
}

/*

    content property can takes any attribute 

    so
    if the html element have an attribute called some-attribute="a value from attribute"
    i can take this attribute and gave it to cantent property 

    content: attr(some-attribute);

    the text inside some-attribute will appear before or after the element, based on your decision
 */


.parent-attr{
    margin-bottom: 20px ;
    overflow: hidden;

    counter-increment: users-counter;
}

.one-p-attr {    
    background-color: #EEE;
    float: left;
    padding: 20px;
    width: 600px;
    position: relative;
}

.user-attr{
    float: left;
    margin-right: 20px;
    background-color: #EEE;
    width: 65px;
    height: 76.5px;
    text-align: center;
    padding: 10px;
    font-size: 50px
}


.one-p-attr::before {
    content: attr(some-attribute);
    background-color: mediumvioletred;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}