*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.assignment-two div{
    width: 100px;
    height: 100px;
    box-shadow: 1px 2px 32px -1px black inset;
    margin: 20px auto;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 10px 30px;
    border-bottom-right-radius: 10px 30px;

    position: absolute;
    top: 40%;
    left: 45%;
}
